body {
    background-image: url(../images/dust_scratches.png);
    background-color: #dddddd;
}

header {
    width: 100%;
    background-color: #ffffff;
    padding: 2px;
}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman" serif;
    color: #ffffff;
    padding: 37px;
    margin-left: 200px;
    width: 10%;
    text-align: center;
    font-size: 24px;
    float: left;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right;
    padding: 40px;
    margin-right: 260px;
    color: #777777;
}

.content {
    clear: both;
    width: 960px;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, serif;
    font-size: 30px;
    font-style: bold;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: #777777;
}

.bio {
    background-color:#ffffff;
    width: 650px;
    padding: 40px;
    margin: 40px;
    position: relative;
    left: 162px;
    top: 17px;
}

aside {
    background-color: #ffffff;
    width: 270px;
    padding: 40px;
    margin: 20px;
    position: relative;
    left: 1000px;
    bottom: 800px;
}

h3 {
    color: #4aaaa5;
    font-size: 30px;
    border-bottom: solid;
    border-bottom-color: #777777;
    padding: 20px;
}

.education {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
}

.pic {
    float: left;
    padding: 20px;
}

.personal {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
}

a {
    padding-right: 20px;
    color: #777777;
    text-decoration: none;
}

footer {
    background-color: #666666;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
    border-top: solid;
    border-top-color: #4aaaa5;
    font-size: 12px;
    color: #ffffff;
    border-width: 10px;
}

input[type="text"] {
    width: 550px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 20px;
    text-align: left;
}

input[type="submit"] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 150px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

.aside {
    bottom: 550px;
}

.portfolio {
    background-color:#ffffff;
    width: 650px;
    height: 800px;
    padding: 40px;
    margin: 40px;
    position: relative;
    left: 162px;
    top: 17px;
}


h4 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    z-index: 10;
    top: 275px;
    left: 40px;
}

h5 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    left: 447px;
    top: 275px;
    z-index: 10;
}

h6 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    left: 40px;
    top: 500px;
    z-index: 10;
}

h7 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    left: 447px;
    top: 500px;
    z-index: 10;
}

h8 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    left: 40px;
    top: 725px;
    z-index: 10;
}

.hangmanpic {
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 20px;
}

.rpgpic {
    padding: 20px;
    position: absolute;
    left: 427px;
    top: 150px;
}

.triviapic {
    padding: 20px;
    position: absolute;
    top: 375px;
    left: 20px;
}

.rutgerspic {
    padding: 20px;
    position: absolute;
    top: 375px;
    left: 427px;
}

.rockpic {
    padding: 20px;
    position: absolute;
    top: 600px;
    left: 20px;
}

.aside2 {
    bottom: 903px;
}

@media screen and (max-width: 980px) {
    header {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .bio {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    header {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

/* For the media queries, I tried many things to try to make it responsive. 
You would have to continue to code the widths to match the page, but even
when adding the viewports the page will not be responsive and the widths will not change
how I want them to. I would have gone to office hours for this but i've been very sick 
all week. I need to better utilize office hours in the next homework so I don't run into
these problems. */
